@using AuthServer.DTOs
@using Microsoft.Extensions.Primitives
@model AuthorizeDto

<div class="jumbotron">
    <h1>Authorization</h1>

    <p class="lead text-left">Do you want to grant <strong>@Model.ApplicationName</strong> access to your data? (scopes requested: @Model.Scope)</p>

    <form method="post" id="authorizeform">
        @* Flow the request parameters so they can be received by the Accept/Reject actions: *@
        @foreach (var parameter in Context.Request.HasFormContentType ?
           (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
        {
                <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input name="submit.Accept" type="button" onclick="chgAction(true)" value="Yes" />
        <input name="submit.Deny" type="button" onclick="chgAction(false)" value="No" />
    </form>
    <script type="text/javascript">
        function chgAction(allow) {
            let path = allow
                ? "/connect/authorize/accept"
                : "/connect/authorize/deny";
            document.getElementById("authorizeform").action = path;
            document.getElementById("authorizeform").submit();
        }
    </script>
</div>
